# must
# IMAGE_NAME="{your generate node}"
# eg: IMAGE_NAME="jenson/node-20.6"
IMAGE_NAME=""

# must
#  backend api domain
# like setupProxy.js proxy
REACT_APP_HOST_DOMAIN=""

# must
# Backend api ip, If the domain name used does not resolve
# Used in dnode.sh to set host
REACT_APP_HOST_IP=""

# your dev port
PORT=3000
