# must
# IMAGE_NAME="{your generate node}"
# eg: IMAGE_NAME="jenson/node-20.6"
IMAGE_NAME=""

# must
#  backend api domain
# like vue.config.js proxy
# eg:  proxy: {
#         '/api': {
#           target: 'http://' + process.env.VUE_APP_HOST_DOMAIN
#         },
#         '/socket.io': {
#           target: 'ws://' + process.env.VUE_APP_HOST_DOMAIN
#         }
#       }  
VUE_APP_HOST_DOMAIN=""

# must
# Backend api ip, If the domain name used does not resolve
# Used in dnode.sh to set host
VUE_APP_HOST_IP=""

# your dev port
PORT=3000

